<h1>Gérez des Catégories</h1>
<nav mat-tab-nav-bar ngClass="tabs">
  <a mat-tab-link routerLink="/dashboard/article-category/create" [active]="urlContains('/create')" color="primary">
    Créer
  </a>
  <a mat-tab-link routerLink="/dashboard/article-category/list" [active]="urlContains('/list')" color="primary">
    Liste
  </a>
</nav>

<div class="margin-y">
  <app-create-category *ngIf="urlContains('/create')"></app-create-category>
  <app-list-category *ngIf="urlContains('/list')"></app-list-category>
</div>
