@import '~@angular/material/theming';
@include mat-core();

$mat-primary-scheme: (
  100: #d1c4e9,
  500: #ff3399,
  700: #ff3399,
  contrast: (
    100: #3c4043,
    500: #ffffff,
    700: #ffffff,
  )
);
$mat-accent-scheme: (
  100: #f9f3df,
  500: #fff,
  700: #3c4043,
  contrast: (
    100: #3c4043,
    500: #3c4043,
    700: #ffffff,
  )
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

@include angular-material-theme($app-light-theme);

// following section is for dark mode.
// use appropriate class name for darkMode
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.darkMode {
  @include angular-material-theme($app-dark-theme);
}


/** Reset **/
.mat-focus-indicator {
  outline: none;
}

.mat-stepper-vertical, .mat-stepper-horizontal {
  display: block;
  box-shadow: 0px 2px 6px #0000000a;
}

.mat-elevation-z4 {
  box-shadow: 0 0.25rem 0.5rem 0 rgb(44 51 73 / 10%)!important;
}