<section class="wrapper flex justify-evenly align-center">
    <mat-card class="menu-card mat-elevation-z4" routerLink="/dashboard/article/create">
      <mat-card-header>
        <img mat-card-avatar src="assets/icons/transaction_list.svg" alt="avatar">
        <mat-card-title>Créer un Article</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="menu-card mat-elevation-z4" routerLink="/dashboard/article/list">
      <mat-card-header>
        <img mat-card-avatar src="assets/icons/edit_property.svg" alt="avatar">
        <mat-card-title>Editer les Articles</mat-card-title>
      </mat-card-header>
    </mat-card>
  </section>
  