$primary: #5833ff;
$primary_shade: #5833ff25;
$success: #00d68f;
$warning: #ffaa00;
$warning_shade: #ffaa0025;
$danger: #ff3d71;
$dark: #222428;
$medium: #92949c;
$medium_shade: #92949c2a;
$light: #f4f5f8;

$popup_warning: #ffaa00ec;
$popup_danger: #ff3d71ec;