<mat-card *ngIf="!previewVisible && this.currentArticle" [@inOutAnimation] class="mat-elevation-z0">
    <mat-card-content>
      <form [formGroup]="defaultForm">
  
        <div class="flex justify-between align-end margin-y">
          <mat-form-field class="quart full-width-m">
            <mat-label>Titre de l'article</mat-label>
            <input matInput formControlName="label" required />
          </mat-form-field>
  
          <mat-form-field class="quart full-width-m">
            <mat-label>Catégories de l'article</mat-label>
            <mat-select formControlName="category" multiple>
              <mat-option *ngFor="let category of categoryList$ | async" [value]="category._id">{{ category.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="quart full-width-m">
            <mat-label>Prix de l'article</mat-label>
            <input matInput formControlName="price" type="number" required />
          </mat-form-field>
        </div>
  
        <div *ngIf="haveImageField" class="flex justify-left margin-y">
          <mat-form-field matTooltip="Maintenez le bouton 'Ctrl' pour choisir plusieurs images" matTooltipPosition="before" class="full-width">
            <mat-label>Images de l'article</mat-label>
            <ngx-mat-file-input #coverImage formControlName="images" placeholder="Choisir une image de couverture"
              [accept]="'image/*'" [required]="true" [multiple]="true"></ngx-mat-file-input>
            <button *ngIf="coverImage.empty" mat-icon-button matSuffix>
              <mat-icon>image</mat-icon>
            </button>
            <button *ngIf="!coverImage.empty" mat-icon-button matSuffix (click)="coverImage.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
          <button type="button" mat-icon-button class="button-warn" (click)="removeControl()">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>

        <div *ngIf="!haveImageField" [@inOutAnimation] class="flex justify-left margin-y">
            <button type="button" mat-button mat-stroked-button class="button-warn" (click)="addControl()">
              <mat-icon inline=true matSuffix>edit</mat-icon>Modifier les images
            </button>
          </div>
  
        <div class="flex justify-left margin-y">
          <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required></textarea>
          </mat-form-field>
        </div>
  
        <div class="margin-y flex justify-left">
          <button type="button" mat-button mat-flat-button color="primary"
            [disabled]="!defaultForm.valid || isButtonDisabled" (click)="updateItem()">Modifier</button>
          <button type="button" mat-button mat-stroked-button color="primary" [disabled]="!defaultForm.valid"
            (click)="switchPreviewVisibility()">Aperçu</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
  <mat-card *ngIf="previewVisible" [@inOutAnimation]>
    <mat-card-content>
      <article>
        <h1>TO DO: OVERVIEW CARD</h1>
  
        <div class="margin-y flex justify-left">
          <button type="button" mat-button mat-stroked-button class="button-warn"
            (click)="switchPreviewVisibility()">Cacher Aperçu</button>
        </div>
      </article>
    </mat-card-content>
  </mat-card>

  <!-- <section *ngIf="fetchError" class="requestError flex column justify-center align-center text-center">
    <img src="assets/icons/cloud_cross.svg" alt="error" width="60%" />
    <h2 class="text">Ooupps! <br> Une erreur s'est produite</h2>
    <p><button mat-raised-button color="accent" (click)="getData()">Réessayer <mat-icon matSuffix>refresh</mat-icon></button></p>
  </section> -->
  