<mat-stepper orientation="vertical" linear="true" #stepper class="mat-elevation-z0">
    <mat-step [stepControl]="messageForm">
      <form [formGroup]="messageForm">
        <ng-template matStepLabel>Notification</ng-template>

        <div class="flex justify-between">

          <div class="margin-y">
            <mat-slide-toggle color="primary" formControlName="isActive">Activer / Désactiver</mat-slide-toggle>
          </div>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Titre de la notification (facultatif)</mat-label>
            <input matInput placeholder="Saisir le titre" formControlName="message_title" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Texte de la notification</mat-label>
            <textarea matInput formControlName="message_text" row="2" required></textarea>
          </mat-form-field>

          <div class="full-width margin-y">
            <file-selector [defaultFiles]="defaultImage" [maxCount]="1" (onFileChange)="setFiles($event)"></file-selector>
          </div>
        </div>

        <div class="flex justify-right">
            <button mat-raised-button color="primary"
            [disabled]="!messageForm.valid || isButtonDisabled" (click)="updateMessage()">Mettre à jour</button>
            <button mat-stroked-button matStepperNext color="primary"
              [disabled]="!messageForm.valid">Suivant</button>
        </div>

      </form>
    </mat-step>


    <!--Step TWo-->
    <mat-step [stepControl]="scheduleForm" label="Planification">
      <form [formGroup]="scheduleForm">
        <div class="flex justify-left">
          <mat-form-field appearance="outline" class="tiers full-width-m" [matMenuTriggerFor]="menu">
            <mat-label>{{ schedulePlaceholder }}</mat-label>
            <input matInput [readonly]="true" />
          </mat-form-field>

          <mat-form-field *ngIf="scheduleForm.controls.schedule_time || scheduleForm.controls.schedule_startDate"
            appearance="outline" [matMenuTriggerFor]="menu">
            <mat-label>{{ schedulePlaceholder }}</mat-label>
            <input formControlName="schedule_time" type="time" matInput />
          </mat-form-field>
        </div>

        <div *ngIf="isEveryday" class="flex justify-left">
          <mat-form-field appearance="outline">
            <mat-label>Periode</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Date de début" formControlName="schedule_startDate" required />
              <input matEndDate placeholder="Date de Fin" formControlName="schedule_endDate" required />
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div class="flex justify-right">
          <button mat-button mat-flat-button color="primary" [disabled]="!scheduleForm.valid || isButtonDisabled"
            (click)="updateSchedule()">Mettre à jour</button>
        </div>


        <!--Menus-->
        <mat-menu #menu="matMenu">
          <p mat-menu-item disabled>
            <span>Notification unique</span>
          </p>
          <button mat-menu-item (click)="setScheduleType(scheduleType.NOW)">
            <span>Maintenant</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="dateSelector">
            <span>Planifié</span>
          </button>
          <p mat-menu-item disabled>
            <span>Notifications récurrentes</span>
          </p>
          <button mat-menu-item (click)="setScheduleType(scheduleType.EVERYDAY)">
            <span>Tous les jours</span>
          </button>
        </mat-menu>
        <mat-menu #dateSelector="matMenu">
          <mat-calendar (selectedChange)="setScheduleDate($event)" [minDate]="today"></mat-calendar>
        </mat-menu>
      </form>
    </mat-step>
  </mat-stepper>
  