<mat-toolbar color="accent">
  <div>
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Fashion Remarketing</span>
  </div>
  <div>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]="54">
    <mat-list>
      <mat-list-item *ngFor="let nav of menu" [routerLink]="nav.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <mat-icon matListIcon>{{ nav.menu.icon }}</mat-icon>
        <h3 matLine> {{ nav.menu.title }} </h3>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <nb-layout>
      <nb-layout-column fullWidth>
        <router-outlet></router-outlet>
      </nb-layout-column>
    </nb-layout> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
