<mat-card *ngIf="this.currentArticleCategory" class="mat-elevation-z0">
  <mat-card-content>
    <form [formGroup]="defaultForm">
      <div class="flex justify-left column">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Ex: chemises" formControlName="label" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Ex: Des chemises d'exception pour toutes les occasions"
            formControlName="description" required></textarea>
        </mat-form-field>
        <div class="full-width margin-y">
          <file-selector [defaultFiles]="defaultImage" [maxCount]="1" (onFileChange)="setFiles($event)"></file-selector>
        </div>
      </div>
      <div>
        <button mat-button mat-flat-button color="primary" [disabled]="!defaultForm.valid"
          (click)="updateItem()">Mettre à Jour</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
