<section class="">
  <mat-stepper [orientation]="(stepperOrientation | async)!" linear="true" #stepper>
    <mat-step [stepControl]="categoryCreationForm">
      <form [formGroup]="categoryCreationForm">
        <ng-template matStepLabel>Créez une Catégorie d'article</ng-template>
        <div class="flex justify-left column">
          <mat-form-field appearance="outline" matTooltip="Nom de la catégorie de produits">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Exemple: Chemises" formControlName="label" required />
          </mat-form-field>
          <mat-form-field appearance="outline" matTooltip="Décrivez brièvement la catégorie pour orienter vos clients">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Ex: Des chemises d'exception pour toutes les occasions" formControlName="description" required></textarea>
          </mat-form-field>
          <div class="full-width margin-y">
            <file-selector [maxCount]="1" (onFileChange)="setFiles($event)"></file-selector>
          </div>
        </div>
        <div>
          <button mat-button mat-flat-button color="primary"
            [disabled]="!categoryCreationForm.valid || isButtonDisabled" (click)="createCategory()">Créer la Catégorie</button>
        </div>
      </form>
    </mat-step>
  
  
    <!--Step Two-->
    <mat-step label="Prochaines Etapes">
      <p>Vous pouvez maintenant ajouter des articles aux catégories que vous avez créées:</p>
      <div class="flex justify-left">
        <mat-card routerLink='/dashboard/article' class="menu-card" color="accent">
          <mat-card-header>
            <img mat-card-avatar src="assets/icons/price_tag.svg" alt="avatar">
            <mat-card-title>Ajouter des produits</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-step>
  </mat-stepper>
  
</section>